*.o
*.d
*.so
*.pyc
Makefile.*
Makefile
*~

# Qt Creator project files
*.config
*.creator
*.creator.user
*.files
*.includes

# All outputs and clean files in test cases
/tests/*/output.dat
/tests/methods/*/output.dat
/tests/*/*.clean
/tests/methods/*/*.bin
/tests/methods/*/*.clean
/tests/*/*.txt
/tests/*/*.plt
/tests/*/timer.dat
/tests/methods/*/timer.dat
/tests/methods/*/*.txt

doc/doxygen/html
doc/doxygen/latex

setup_command
CMake*
