*.o
*.d
*.so
*.pyc
Makefile.*
Makefile
timer.dat
*~
forte/version.h

# Qt Creator project files
*.config
*.creator
*.creator.user
*.files
*.includes

forte_tests
forte_benchmarks

# All outputs and clean files in test cases
/tests/*/output.dat
/tests/methods/*/output.dat
/tests/*/*.clean
/tests/methods/*/*.bin
/tests/methods/*/*.clean
/tests/*/*.txt
/tests/*/*.plt
/tests/*/timer.dat
/tests/methods/*/timer.dat
/tests/methods/*/*.txt
/tests/methods/*/*.npz
tests/pytest/.cache/

doc/doxygen/html
doc/doxygen/latex
docs/sphinx/_*

forte.egg-info/*

*.html
*/*/*.html

CMakeCache.txt
CMakeFiles/
forte/CMakeFiles
cmake_install.cmake
*.DS_Store
