*.o
*.d
*.so
*.pyc
*.log
*.dat
*.clean
*.swp
Makefile.*
Makefile
timer.dat
*~
forte/version.h
forte.egg-info
docs/build
build/**

# Qt Creator project files
*.config
*.creator
*.creator.user
*.files
*.includes

.vscode/**

forte_tests
forte_benchmarks

my_test/
.vscode/

# All outputs and clean files in test cases
/tests/*/output.dat
/tests/methods/*/output.dat
/tests/*/*.clean
/tests/methods/*/*.bin
/tests/methods/*/*.clean
/tests/*/*.txt
/tests/*/*.plt
/tests/*/timer.dat
/tests/methods/*/timer.dat
/tests/methods/*/*.txt
/tests/methods/*/*.npz
/tests/**/failed_tests.yaml
/tests/**/test_results_*
/tests/**/*.json
tests/pytest/.cache/
**/.ipynb_checkpoints


doc/doxygen/html
doc/doxygen/latex
docs/sphinx/_*

forte.egg-info/*

*.html
*/*/*.html

CMakeCache.txt
CMakeFiles/
forte/CMakeFiles
cmake_install.cmake
*.DS_Store
